<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="header-container">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo">
        <h1>Smart system for waste sorting</h1>
        <p>Learn about waste categories and proper disposal methods to create a sustainable future.</p>
        <div class="button-container">
            <a href="/" class="button">Home</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Register</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        </header>
        <main>
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <label for="role">Select your role:</label><br>
                <select name="role" id="role" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select><br><br>
                <div class="button-row">
                    <button type="submit">Register</button><br>
                </div>
                <div class="register-button-container">
                    <p>Already have an account?</p>
                    <a href="/login" class="register-button">Login</a>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
